* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;;
}
html,
body {
margin: 0;
padding: 0;
}

.App {
  /* background-image: linear-gradient(to right, rgb(191, 191, 191) , rgb(255, 255, 255))  */
  background-color: rgb(71, 70, 70);
  height: 100%;
  width: 100%;
} 

div.card {
margin-top: 5%;
margin-bottom: 5%;
background-color: rgb(214, 236, 236);
}